.button {
  composes: noBorder from '../Borders.css';
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

:root {
  --darkGray: #333333;
  --darkBlue: #1b6de0;
}

.disabled {
  cursor: default;
}

.darkGray:hover,
.darkGray:focus {
  background-color: color(var(--darkGray) blackness(+6%));
}

.darkGray:active {
  background-color: color(var(--darkGray) blackness(+10%));
}

.darkBlue {
  background-color: var(--darkBlue);
}

.darkBlue:hover,
.darkBlue:focus {
  background-color: color(var(--darkBlue) blackness(+6%));
}

.darkBlue:active {
  background-color: color(var(--darkBlue) blackness(+10%));
}
